

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySalesPersonLabel">Create or edit a Sales Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!salesPerson.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="salesPerson.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="salesPerson.firstName"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="salesPerson.lastName"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="salesPerson.email"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                [(ngModel)]="salesPerson.phoneNumber"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hireDate">Hire Date</label>
            <div class="d-flex">
                <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" [(ngModel)]="salesPerson.hireDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_salary">Salary</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                [(ngModel)]="salesPerson.salary"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_commissionPct">Commission Pct</label>
            <input type="number" class="form-control" name="commissionPct" id="field_commissionPct"
                [(ngModel)]="salesPerson.commissionPct"
             />
        </div>

        <div class="form-group">
            <label for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="salesPerson.departmentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
