<div class="row">
    <div class="col-lg-11"><h1 style="margin-top: 0px;margin-bottom: 20px">Products for {{company.name}}</h1></div>
    <div class="col-lg-1"><button type="button" class="btn btn-primary" ng-click="addProduct()">Add</button></div>
</div>

<div ng-controller="productlist" class="container" ng-show="authenticated">
    <table class="table table-striped">
        <tbody>
        <tr class="product" ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.productId}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
        </tr>
        </tbody>
    </table>
</div>
